::-webkit-scrollbar {
  border: 0.5px solid #4b6049;
  width: 14px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-left: 1px solid #4b6049;
  border-right: 1px solid #4b6049;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(90deg, #4b6049 0%, #4b6049 5%, #ffffff 5%, #ffffff 18%, #4b6049 18%, #4b6049 82%, #ffffff 82%, #ffffff 95%, rgb(17, 125, 54) 95%, #4b6049 100%);
  background-clip: padding-box;
}

::-webkit-scrollbar-button:single-button {
  background-color: #ffffff;
  display: block;
  border-style: solid;
  height: 10px;
  width: 10px;
}

/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 16px;
  border: transparent;
  background: url(../../assets/images/icon/arrow-scroll-down.svg) center no-repeat;
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 16px;
  border: transparent;
  background: url(../../assets/images/icon/arrow-scroll-up.svg) center no-repeat;
}

/*
@media (min-width: 1921px){}
@media (width: 1920px){}
@media (min-width: 1440px) and (max-width: 1919px) {}
@media (min-width: 1360px) and (max-width: 1439px) {}
@media (min-width: 1280px) and (max-width: 1359px) {}
@media (min-width: 1024px) and (max-width: 1279px) {}
@media (min-width: 768px) and (max-width: 1023px) {}
@media (min-width: 375px) and (max-width: 767px) {}
@media (min-width: 320px) and (max-width: 374px) {}
*/
/*
@media (max-width: 1919px) {}
@media (max-width: 1439px) {}
@media (max-width: 1279px) {}
@media (max-width: 767px) {}
*/
header,
main,
footer,
section {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
}

footer {
  height: fit-content;
}

body {
  font-family: "Candara", normal;
  color: #484847;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */
.title-hidden {
  text-indent: -99999px;
}

.header {
  padding-top: 11px;
}
.header__layout {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo {
  margin-right: 57px;
}
.header__nav {
  display: flex;
  justify-content: center;
  padding: 0 14px;
  border-bottom: 1px solid #4b6049;
  height: fit-content;
}
.header__nav-list {
  display: flex;
  align-items: center;
  gap: 25px;
  text-align: center;
}
.header__nav-link {
  font-size: 26px;
  font-weight: 300;
  line-height: 1.22;
  display: block;
  color: #484847;
  transition: color, transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__nav-link:hover {
  color: #4b6049;
  transform: translateY(3px);
}
.header__icons {
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 57px;
}
.header__icons-list {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
}
.header__icons-link {
  display: block;
  width: 40px;
  height: 40px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__icons-item:nth-child(1) {
  background-image: url(../../assets/images/icon/cabinet.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__icons-item:nth-child(1):hover, .header__icons-item:nth-child(1):focus {
  background-image: url(../../assets/images/icon/cabinet_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__icons-item:nth-child(2) {
  background-image: url(../../assets/images/icon/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__icons-item:nth-child(2):hover, .header__icons-item:nth-child(2):focus {
  background-image: url(../../assets/images/icon/heart_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__icons-item:nth-child(3) {
  background-image: url(../../assets/images/icon/basket.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__icons-item:nth-child(3):hover, .header__icons-item:nth-child(3):focus {
  background-image: url(../../assets/images/icon/basket_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.arrow__fixed {
  display: block;
  position: fixed;
  right: 10%;
  top: 90%;
  z-index: 4;
}
.arrow__fixed-img {
  display: block;
  width: 100%;
  height: 100%;
}

.social__list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: end;
  height: fit-content;
  padding-bottom: 8px;
}
.social__link {
  display: block;
  width: 50px;
  height: 50px;
}
.social__item {
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:nth-child(1) {
  background-image: url(../../assets/images/icon/instagram.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.social__item:nth-child(1):hover, .social__item:nth-child(1):focus {
  background-image: url(../../assets/images/icon/instagram_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.social__item:nth-child(2) {
  background-image: url(../../assets/images/icon/email.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.social__item:nth-child(2):hover, .social__item:nth-child(2):focus {
  background-image: url(../../assets/images/icon/email_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.social__item:nth-child(3) {
  background-image: url(../../assets/images/icon/phone.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social__item:nth-child(3):hover, .social__item:nth-child(3):focus {
  background-image: url(../../assets/images/icon/phone_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.social__item:nth-child(4) {
  background-image: url(../../assets/images/icon/address.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.social__item:nth-child(4):hover, .social__item:nth-child(4):focus {
  background-image: url(../../assets/images/icon/address_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .social__list {
    gap: 20px;
  }
  .social__link {
    width: 30px;
    height: 30px;
  }
  .social__item {
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__item:nth-child(1) {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .social__item:nth-child(1):hover, .social__item:nth-child(1):focus {
    background-size: contain;
  }
  .social__item:nth-child(2) {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .social__item:nth-child(2):hover, .social__item:nth-child(2):focus {
    background-size: contain;
  }
  .social__item:nth-child(3) {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .social__item:nth-child(3):hover, .social__item:nth-child(3):focus {
    background-size: contain;
  }
  .social__item:nth-child(4) {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .social__item:nth-child(4):hover, .social__item:nth-child(4):focus {
    background-size: contain;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .social__list {
    gap: 20px;
  }
  .social__link {
    width: 30px;
    height: 30px;
  }
  .social__item {
    transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__item:nth-child(1) {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .social__item:nth-child(1):hover, .social__item:nth-child(1):focus {
    background-size: contain;
  }
  .social__item:nth-child(2) {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .social__item:nth-child(2):hover, .social__item:nth-child(2):focus {
    background-size: contain;
  }
  .social__item:nth-child(3) {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .social__item:nth-child(3):hover, .social__item:nth-child(3):focus {
    background-size: contain;
  }
  .social__item:nth-child(4) {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .social__item:nth-child(4):hover, .social__item:nth-child(4):focus {
    background-size: contain;
  }
}
.footer__nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__navigation {
  background-color: #4b6049;
  width: 100%;
  height: 192px;
}
.footer__logo-icon {
  width: 232px;
}
.footer__container {
  display: flex;
  gap: 40px;
  padding-top: 26px;
}
.footer__nav-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #fffbf5;
}
.footer__nav-list--last {
  display: flex;
  flex-direction: column;
}
.footer__nav-list--mobile {
  display: none;
}
.footer__nav-wrapper {
  display: flex;
  flex-direction: column;
}
.footer__nav-tel {
  display: flex;
  flex-direction: column;
}
.footer__nav-item {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #fffbf5;
}

.pay-icons__item {
  display: flex;
  align-items: center;
  gap: 25px;
  padding-top: 14px;
}
.pay-icons__link:nth-child(1) {
  width: 52px;
  height: 32px;
  background-image: url(../../assets/images/icon/mastercard.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.pay-icons__link:nth-child(1):hover, .pay-icons__link:nth-child(1):focus {
  background-image: url(../../assets/images/icon/mastercard_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.pay-icons__link:nth-child(2) {
  width: 76px;
  height: 25px;
  background-image: url(../../assets/images/icon/visa.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.pay-icons__link:nth-child(2):hover, .pay-icons__link:nth-child(2):focus {
  background-image: url(../../assets/images/icon/visa_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.pay-icons__link:nth-child(3) {
  width: 83px;
  height: 34px;
  background-image: url(../../assets/images/icon/apay.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.pay-icons__link:nth-child(3):hover, .pay-icons__link:nth-child(3):focus {
  background-image: url(../../assets/images/icon/apay_hover.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.pay-icons--burger {
  display: none;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__layout .layout {
    margin: 0;
    width: 100%;
    padding: 0 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__layout .layout {
    margin: 0;
    width: 100%;
    padding: 0 20px;
  }
  .footer__nav-link, .footer__nav-item {
    font-size: 2vw;
  }
  .footer__logo-icon {
    width: 60%;
  }
  .pay-icons__item {
    gap: 15px;
  }
  .pay-icons__link:nth-child(1) {
    width: 6vw;
    height: 3vw;
    background-size: contain;
  }
  .pay-icons__link:nth-child(2) {
    width: 9vw;
    height: 4vw;
    background-size: contain;
  }
  .pay-icons__link:nth-child(3) {
    width: 9vw;
    height: 3vw;
    background-size: contain;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__layout {
    display: flex;
    flex-direction: column;
  }
  .footer__layout .layout {
    margin: 0;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }
  .footer__navigation {
    height: 271px;
  }
  .footer__nav-container {
    align-items: center;
  }
  .footer__container {
    padding-top: 20px;
    gap: 39px;
  }
  .footer__nav-list--desktop {
    display: none;
  }
  .footer__nav-list--last {
    gap: 37px;
  }
  .footer__nav-list--mobile {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .footer__nav-wrapper {
    display: flex;
  }
  .footer__logo-link {
    align-self: flex-start;
  }
  .footer__logo-icon {
    height: 80px;
    width: 150px;
  }
  .footer__nav-link, .footer__nav-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.21;
  }
  .footer__nav-link {
    order: 2;
  }
  .pay-icons__item {
    gap: 15px;
    padding-top: 30px;
  }
  .pay-icons__link:nth-child(1) {
    width: 6vw;
    height: 3vw;
    background-size: contain;
  }
  .pay-icons__link:nth-child(2) {
    width: 9vw;
    height: 4vw;
    background-size: contain;
  }
  .pay-icons__link:nth-child(3) {
    width: 9vw;
    height: 3vw;
    background-size: contain;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer__layout {
    display: flex;
    flex-direction: column;
  }
  .footer__layout .layout {
    margin: 0;
    width: 100%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
  }
  .footer__navigation {
    height: 271px;
  }
  .footer__nav-container {
    align-items: flex-start;
  }
  .footer__container {
    padding-top: 20px;
    gap: 39px;
  }
  .footer__nav-list--desktop {
    display: none;
  }
  .footer__nav-list--last {
    gap: 37px;
  }
  .footer__nav-list--mobile {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .footer__nav-wrapper {
    display: flex;
  }
  .footer__logo-link {
    align-self: flex-start;
  }
  .footer__logo-icon {
    height: 58px;
    width: 100px;
  }
  .footer__nav-link, .footer__nav-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.21;
  }
  .footer__nav-link {
    order: 2;
  }
  .pay-icons__item {
    gap: 15px;
    padding-top: 30px;
  }
  .pay-icons__link:nth-child(1) {
    width: 6vw;
    height: 3vw;
    background-size: contain;
  }
  .pay-icons__link:nth-child(2) {
    width: 9vw;
    height: 4vw;
    background-size: contain;
  }
  .pay-icons__link:nth-child(3) {
    width: 9vw;
    height: 3vw;
    background-size: contain;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header__logo {
    margin-right: 40px;
  }
  .header__icons-item {
    width: 32px;
    height: 32px;
  }
  .header__icons-link {
    width: 30px;
    height: 30px;
  }
  .header__nav-link {
    font-size: 20px;
    font-weight: 300;
    line-height: 1.22;
  }
  .header__icons-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header__icons {
    margin-left: 37px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__logo {
    margin-right: 40px;
  }
  .header__icons-item {
    width: 32px;
    height: 32px;
  }
  .header__icons-link {
    width: 30px;
    height: 30px;
  }
  .header__nav-link {
    font-size: 17px;
    font-weight: 400;
    line-height: 1.22;
  }
  .header__icons-list {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .header__icons {
    margin-left: 37px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .header__layout {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .header__logo {
    margin-right: 60px;
  }
  .header__icons {
    margin-left: 0;
  }
  .header__nav {
    display: none;
  }
  .header__icons-item {
    width: 30px;
    height: 30px;
  }
  .header__icons-item--burger {
    background-image: url(../../assets/images/icon/burger.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .header__icons-item:nth-child(1) {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .header__icons-item:nth-child(1):hover, .header__icons-item:nth-child(1):focus {
    background-size: contain;
  }
  .header__icons-item:nth-child(2) {
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  .header__icons-item:nth-child(2):hover, .header__icons-item:nth-child(2):focus {
    background-size: contain;
  }
  .header__icons-item:nth-child(3) {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .header {
    padding-top: 0;
  }
  .header__layout {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
  .header__logo {
    margin-right: 60px;
  }
  .header__icons {
    margin-left: 0;
  }
  .header__icons-item {
    width: 24px;
    height: 24px;
  }
  .header__icons-item--burger {
    background-image: url(../../assets/images/icon/burger.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .header__icons-item:nth-child(1) {
    width: 24px;
    height: 24px;
    background-size: contain;
  }
  .header__icons-item:nth-child(1):hover, .header__icons-item:nth-child(1):focus {
    background-size: contain;
  }
  .header__icons-item:nth-child(2) {
    width: 24px;
    height: 24px;
    background-size: contain;
  }
  .header__icons-item:nth-child(2):hover, .header__icons-item:nth-child(2):focus {
    background-size: contain;
  }
  .header__icons-item:nth-child(3) {
    display: none;
  }
  .header__nav {
    display: none;
  }
}
@font-face {
  font-family: "Candara";
  src: url("../../assets/fonts/Candara-Light.woff2") format("woff2"), url("../../assets/fonts/Candara-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Candara";
  src: url("../../assets/fonts/Candara.woff2") format("woff2"), url("../../assets/fonts/Candara.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  /* display: block; */
}

a:hover {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  border-style: none;
  width: 100%;
}

form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input,
textarea,
select {
  vertical-align: middle;
  color: #000000;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

.layout {
  width: 1074px;
  margin: 0 auto;
  padding: 0 15px;
}
.layout--column {
  flex-direction: column;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .layout {
    width: 360px;
    margin: 0 auto;
    padding: 0 15px;
  }
}
.button {
  background-color: #4b6049;
  display: block;
  align-items: center;
  color: #fffbf5;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5;
  width: 219px;
  height: 59px;
  padding: 10px;
  text-align: center;
  position: relative;
}
.button::after {
  content: "";
  display: block;
  position: absolute;
  width: 219px;
  height: 59px;
  border: 2px solid #4b6049;
  top: -15%;
  right: -4%;
  box-sizing: border-box;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: -1;
}
.button:hover::after {
  top: -1px;
  right: -1px;
  height: 61px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .button {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    width: 180px;
    height: 50px;
  }
  .button::after {
    width: 180px;
    height: 50px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .button {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    width: 160px;
    height: 52px;
  }
  .button::after {
    width: 160px;
    height: 52px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .button {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    width: 132px;
    height: 46px;
  }
  .button::after {
    width: 132px;
    height: 46px;
  }
}

.button-link {
  color: #484847;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.button-small {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  width: 97px;
  height: 25px;
  background-color: #4b6049;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fffbf5;
  padding: 2px 16px;
}
.button-small::after {
  content: "";
  display: block;
  position: absolute;
  width: 97px;
  height: 25px;
  border: 1px solid #4b6049;
  top: -15%;
  right: -4%;
  box-sizing: border-box;
  transition: all 250ms #4b6049;
}
.button-small:hover::after {
  top: 0;
  right: 0;
}

.button-more {
  display: block;
  color: #484847;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  border: 2px solid #484847;
  padding: 13px 49px;
  width: fit-content;
}
.button-more--right {
  position: relative;
}
.button-more--right::after {
  right: -40px;
  content: url(../../assets/images/icon/arrow-right.png);
  position: absolute;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.button-more--right:hover::after {
  top: 15px;
  opacity: 1;
}
.button-more--bottom {
  position: relative;
}
.button-more--bottom::after {
  content: url(../../assets/images/icon/arrow-bottom.png);
  position: absolute;
  opacity: 0;
  left: 95px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-more--bottom:hover:after {
  top: 38px;
  opacity: 1;
}

.button-more {
  display: block;
  color: #484847;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  border: 2px solid #484847;
  padding: 13px 49px;
  width: fit-content;
}
.button-more--right {
  position: relative;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-more--right:hover::after {
  top: 15px;
  opacity: 1;
}
.button-more::after {
  right: -40px;
  content: url(../../assets/images/icon/arrow-right.png);
  position: absolute;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.button-more--bottom {
  position: relative;
}
.button-more--bottom:after {
  content: url(../../assets/images/icon/arrow-bottom.png);
  position: absolute;
  opacity: 0;
  left: 95px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-more--bottom:hover:after {
  top: 38px;
  opacity: 1;
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .button-more {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    padding: 10px 20px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .button-more {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.2;
    padding: 10px 20px;
  }
}
.form-input__row {
  margin-bottom: 20px;
}
.form-input__label {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.form-input__input {
  position: relative;
  font-family: "Candara";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #484847;
  width: 100%;
  height: 50px;
  padding: 10px;
}
.form-input__input::placeholder {
  font-family: "Candara";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #b3b3b2;
}

.number-round {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.2;
  border: 1px solid #4b6049;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.number-round--active {
  background-color: #4b6049;
  color: #fffbf5;
}

.radio-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.radio-group__title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

.radio__label {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}
.radio__label-row {
  display: block;
}
.radio__label-row--bold {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.22;
}
.radio__input:checked, .radio__input:not(:checked) {
  position: absolute;
  left: -9999px;
}
.radio__input:checked + label, .radio__input:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #4b6049;
}
.radio__input:checked + label:before, .radio__input:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #4b6049;
  background: #ffffff;
}
.radio__input:checked + label:after, .radio__input:not(:checked) + label:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #4b6049;
  position: absolute;
  top: 5px;
  left: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.radio__input:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.radio__input:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* cabinet__tab-content--active */
.products-list {
  display: flex;
  padding: 0 48px 0 0;
  overflow-y: auto;
  flex-direction: column;
}
.products-list__item {
  padding: 9px 0;
  width: 100%;
  border-bottom: 1px solid #4b6049;
  display: flex;
  height: 98px;
  justify-content: space-between;
  align-items: center;
}
.products-list__img {
  width: 80px;
  height: 80px;
  display: block;
  margin-right: 18px;
}
.products-list__item-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  width: 161px;
}
.products-list__rate {
  width: 100px;
}
.products-list__amount {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.products-list__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  width: 260px;
  margin-right: 20px;
  color: #484847;
}
.products-list__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  width: 120px;
  margin-right: 28px;
}
.products-list__action {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.products-list__remove-btn {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #484847;
  text-decoration: underline;
}
.products-list__remove-button {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #4b6049;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../../assets/images/icon/cross.svg) center no-repeat;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products-list__remove-button:hover {
  color: #000000;
  background: url(../../assets/images/icon/cross-black.svg) center no-repeat;
}
.products-list__amount {
  width: 86px;
}

/* first-view */
.first-view__layout {
  position: relative;
}
.first-view__image-wrapper {
  display: block;
  position: relative;
  width: 100%;
  min-height: 804px;
  z-index: 1;
  left: 44%;
  overflow: visible;
}
.first-view__img {
  position: absolute;
  display: block;
  width: 58%;
}
.first-view__text-wrapper {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  z-index: 3;
}
.first-view__info-container {
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 92px;
}
.first-view__title {
  font-family: "Poiret One", normal;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.17;
  width: 640px;
  z-index: 2;
}
.first-view__subtitle {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
  width: 599px;
}

.main-view {
  display: flex;
  position: relative;
  min-height: 804px;
  align-items: center;
  min-width: 100%;
}
.main-view__picture {
  background-image: url(../../assets/images/photos/hero_img.png);
  background-repeat: no-repeat;
  min-height: 804px;
  background-size: contain;
  background-position: right;
  width: 100%;
  right: 0;
  position: absolute;
  display: block;
  z-index: -5;
}
.main-view__info {
  display: flex;
  flex-direction: column;
  gap: 92px;
}
.main-view__title {
  font-family: "Poiret One", normal;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.17;
  max-width: 550px;
  z-index: 2;
}
.main-view__subtitle {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
  max-width: 500px;
}

@media screen and (min-width: 1360px) and (max-width: 1696px) {
  .main-view {
    width: 95%;
    min-height: 695px;
  }
  .main-view__picture {
    min-height: 700px;
    right: -10%;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1359px) {
  .main-view {
    width: 90%;
    min-height: auto;
  }
  .main-view.layout {
    width: 100%;
  }
  .main-view__picture {
    min-height: 680px;
  }
  .main-view__title {
    font-family: "Poiret One", normal;
    font-size: 52px;
    font-weight: 400;
    line-height: 1.17;
    max-width: 47%;
    z-index: 2;
  }
  .main-view__subtitle {
    font-size: 25px;
    font-weight: 400;
    line-height: 1.23;
    max-width: 47%;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .main-view {
    width: 90%;
    min-height: 700px;
  }
  .main-view__picture {
    width: 75%;
    min-height: 740px;
  }
  .main-view__title {
    font-family: "Poiret One", normal;
    font-size: 44px;
    font-weight: 400;
    line-height: 1.17;
    max-width: 450px;
  }
  .main-view__subtitle {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.23;
    max-width: 450px;
  }
  .main-view__info {
    gap: 100px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .main-view {
    width: 85%;
    min-height: 43vh;
  }
  .main-view__picture {
    width: 65%;
    min-height: 100vh;
  }
  .main-view__info {
    gap: 35px;
    padding-left: 70px;
  }
  .main-view__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.17;
    max-width: 330px;
  }
  .main-view__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.23;
    max-width: 330px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .main-view {
    min-height: 634px;
    flex-direction: column;
  }
  .main-view.layout {
    width: fit-content;
  }
  .main-view__picture {
    background-image: url(../../assets/images/photos/main_view_mob.png);
    background-repeat: no-repeat;
    min-height: 300px;
    width: 100%;
    background-size: cover;
    background-position: center;
    width: 100%;
    position: relative;
  }
  .main-view__info {
    width: 100%;
    gap: 15px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    justify-content: center;
  }
  .main-view__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.17;
    width: 100%;
  }
  .main-view__subtitle {
    font-size: 22px;
    font-weight: 400;
    line-height: 1.23;
    width: 100%;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .main-view {
    min-height: 634px;
    flex-direction: column;
  }
  .main-view__picture {
    position: relative;
    min-height: 238px;
    width: 100%;
  }
  .main-view__info {
    padding-left: 0;
    gap: 15px;
    padding-bottom: 40px;
    padding-top: 15px;
  }
  .main-view__title {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.17;
    max-width: 320px;
  }
  .main-view__subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    max-width: 320px;
  }
  .main-view.layout {
    width: fit-content;
    padding: 0 16px;
  }
}
/* new */
/* face-care */
.face-care__catalog {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .face-care__catalog {
    display: none;
  }
}
.face-care__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1074px;
}
.face-care__info-wrapper {
  min-width: 522px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.face-care__list {
  display: flex;
  flex-direction: column;
  gap: 122px;
}
.face-care__list-item {
  display: flex;
  gap: 30px;
  width: 100%;
  height: fit-content;
}
.face-care__list-item--reversed {
  flex-direction: row-reverse;
}
.face-care__list-item--extra-space {
  margin-bottom: 89px;
}
.face-care__image-wrapper {
  min-width: 522px;
}
.face-care__image-wrapper--mobile {
  display: none;
}
.face-care__subtitle {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.22;
}
.face-care__text {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
}
.face-care__button-container {
  display: flex;
  justify-content: center;
  padding: 100px 0 100px 0;
}
.face-care__arrow-img--bottom {
  position: absolute;
  display: block;
  width: 12px;
  height: 35px;
  top: 70%;
  left: 50%;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .face-care.layout {
    margin: 0;
    width: 100%;
    padding: 0 30px;
  }
  .face-care__wrapper {
    width: 100%;
  }
  .face-care__list-item {
    width: unset;
  }
  .face-care__list-item--extra-space {
    margin-bottom: 0;
  }
  .face-care__image-wrapper {
    min-width: 450px;
  }
  .face-care__info-wrapper {
    min-width: unset;
  }
  .face-care__text {
    font-size: 22px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .face-care.layout {
    margin: 0;
    width: 100%;
    padding: 0 20px;
  }
  .face-care__list {
    gap: 60px;
  }
  .face-care__wrapper {
    width: 100%;
  }
  .face-care__list-item {
    width: unset;
    gap: 20px;
  }
  .face-care__list-item--extra-space {
    margin-bottom: 0;
  }
  .face-care__image-wrapper {
    min-width: 350px;
    height: 280px;
  }
  .face-care__image-wrapper img {
    height: 100%;
  }
  .face-care__info-wrapper {
    min-width: unset;
    gap: 10px;
  }
  .face-care__subtitle {
    font-size: 4vw;
  }
  .face-care__text {
    font-size: 2.08vw;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .face-care.layout {
    margin: 0;
    width: 100%;
    padding: 0 15px;
  }
  .face-care__list {
    gap: 60px;
  }
  .face-care__wrapper {
    width: 100%;
  }
  .face-care__list-item {
    flex-direction: column;
    width: unset;
    gap: 20px;
  }
  .face-care__list-item--extra-space {
    margin-bottom: 0;
  }
  .face-care__image-wrapper {
    display: none;
  }
  .face-care__image-wrapper--mobile {
    display: block;
    min-width: none;
    min-width: unset;
    width: calc(100vw - 30px);
  }
  .face-care__image-wrapper--mobile img {
    height: 100%;
  }
  .face-care__info-wrapper {
    min-width: unset;
    gap: 10px;
  }
  .face-care__subtitle {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.22;
  }
  .face-care__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.23;
  }
  .face-care__button-container {
    padding: 40px 0 40px 0;
  }
  .face-care__catalog--mobile {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .face-care.layout {
    margin: 0;
    width: 100%;
    padding: 40px 45px;
  }
  .face-care__list {
    gap: 60px;
  }
  .face-care__wrapper {
    width: 100%;
  }
  .face-care__list-item {
    flex-direction: column;
    width: unset;
    gap: 20px;
  }
  .face-care__list-item--extra-space {
    margin-bottom: 0;
  }
  .face-care__image-wrapper {
    display: none;
  }
  .face-care__image-wrapper--mobile {
    display: block;
    min-width: none;
    min-width: unset;
    width: calc(100vw - 30px);
  }
  .face-care__image-wrapper--mobile img {
    height: 100%;
  }
  .face-care__info-wrapper {
    min-width: unset;
    gap: 10px;
  }
  .face-care__subtitle {
    font-size: 26px;
    font-weight: 600;
    line-height: 1.22;
  }
  .face-care__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.23;
  }
  .face-care__button-container {
    padding: 40px 0 0 0;
  }
  .face-care__catalog--mobile {
    display: none;
  }
}
.new {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 1060px;
  background-image: url(../../assets/images/photos/new_img.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.new__layout {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 1;
  overflow: visible;
}
.new__info-container {
  padding-top: 78px;
  flex-direction: column;
  display: flex;
  gap: 58px;
  max-width: 1500px;
  box-sizing: content-box;
  position: relative;
  right: 216px;
}
.new__title {
  font-family: "Poiret One", normal;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.17;
}
.new__subtitle {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.22;
  max-width: 623px;
  position: relative;
  left: 207px;
}

@media screen and (min-width: 1360px) and (max-width: 1696px) {
  .new {
    min-height: 100vh;
  }
  .new__info-container {
    padding-top: 60px;
    right: 10vw;
    font-size: 55px;
    font-weight: 400;
    line-height: 1.17;
  }
  .new__subtitle {
    font-size: 35px;
    font-weight: 400;
    line-height: 1.22;
    left: 15vw;
    max-width: 400px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1359px) {
  .new {
    min-height: 95vh;
  }
  .new__info-container {
    padding-top: 30px;
    gap: 50px;
    left: 0vw;
  }
  .new__title {
    font-size: 43px;
    font-weight: 400;
    line-height: 1.17;
  }
  .new__subtitle {
    font-size: 33px;
    font-weight: 400;
    line-height: 1.22;
    left: 5vw;
    max-width: 400px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .new {
    min-height: 90vh;
  }
  .new__info-container {
    padding-top: 25px;
    right: 0vw;
    gap: 50px;
  }
  .new__title {
    font-size: 43px;
    font-weight: 400;
    line-height: 1.17;
  }
  .new__subtitle {
    font-size: 30px;
    font-weight: 400;
    line-height: 1.22;
    left: 8vw;
    max-width: 400px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .new {
    min-height: 58vh;
  }
  .new__info-container {
    padding-top: 25px;
    right: 0vw;
    gap: 50px;
  }
  .new__title {
    font-size: 43px;
    font-weight: 400;
    line-height: 1.17;
  }
  .new__subtitle {
    font-size: 26px;
    font-weight: 400;
    line-height: 1.22;
    left: 1vw;
    max-width: 400px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .new {
    min-height: 240px;
    background-image: url(../../assets/images/photos/new_mob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .new__info-container {
    padding-top: 8px;
    right: 0vw;
    gap: 32px;
  }
  .new.layout {
    padding-left: 16px;
    padding-right: 16px;
  }
  .new__title {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.17;
  }
  .new__subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.22;
    left: 0;
    max-width: 200px;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .new {
    background-image: url(../../assets/images/photos/new_mob.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 240px;
  }
  .new.layout {
    padding-left: 16px;
    padding-right: 16px;
  }
  .new__info-container {
    padding-top: 8px;
    right: 0vw;
    gap: 32px;
  }
  .new__title {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.17;
    max-width: 192px;
  }
  .new__subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.22;
    left: 1vw;
    max-width: 140px;
  }
}
.mobile-menu {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1488;
  background-color: #4b6049;
  transition: top 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu--hidden {
  top: -100%;
}
.mobile-menu__close {
  background-image: url(../../assets/images/icon/close_white.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}
.mobile-menu__nav {
  height: 300px;
}
.mobile-menu__list {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 10px;
  list-style: none;
}
.mobile-menu__item {
  width: 100%;
  padding: 10px 20px;
  border-bottom: 0.5px solid #fffbf5;
}
.mobile-menu__item--logo {
  padding-bottom: 18px;
  border-bottom: none;
  width: fit-content;
  align-self: flex-start;
  height: 100%;
}
.mobile-menu__link {
  color: #fffbf5;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.17;
  height: 100%;
  align-self: baseline;
}
.mobile-menu__img {
  width: 100px;
  height: 58px;
}

.blog__arrow-back {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-bottom: 18px;
}
.blog__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 68px;
}
.blog__title {
  color: #000000;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.23;
}
.blog__description {
  display: flex;
  gap: 22px;
}
.blog__img {
  width: 500px;
}
.blog__text-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.blog__text-container--up {
  padding-top: 40px;
}
.blog__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.blog__description--margin {
  margin-top: 42px;
}

.cabinet__container {
  display: flex;
  align-items: center;
  gap: 22px;
  flex-direction: column;
  padding: 56px 0 10px 0;
  width: 100%;
  min-height: 607px;
}
.cabinet__title {
  color: #484847;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.23;
}
.cabinet__content {
  display: flex;
  flex-direction: column;
  min-height: 470px;
  width: 928px;
}
.cabinet__tab-list {
  display: flex;
  gap: 43px;
  margin-bottom: 39px;
}
.cabinet__link {
  color: #484847;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
}
.cabinet__form-wrapper {
  display: none;
  flex-direction: column;
  gap: 51px;
}
.cabinet__form {
  display: flex;
  justify-content: space-between;
  gap: 192px;
}
.cabinet__form-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 368px;
}
.cabinet__form-label {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.cabinet__form-input {
  font-family: "Candara";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #484847;
  width: 100%;
  height: 50px;
  padding: 10px 10px 10px 10px;
}
.cabinet__form-item--last {
  margin-top: 30px;
}
.cabinet__form-btn {
  padding: 13px 73px 13px 73px;
}
.cabinet__save-btn {
  position: relative;
  padding: 10px 57px 10px 57px;
}
.cabinet__item--active {
  border-bottom: 1px solid #484847;
}
.cabinet__item--active .cabinet__link {
  font-weight: 600;
}
.cabinet__tab-content--active.cabinet__tab-content {
  display: flex;
  flex-direction: column;
}

input[type=date]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.addressbook {
  display: none;
}
.addressbook__form {
  display: flex;
  justify-content: space-between;
}
.addressbook_left-wrapper {
  display: flex;
  gap: 21px;
  flex-direction: column;
}
.addressbook__left-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.addressbook__links {
  display: flex;
  gap: 8px;
}
.addressbook__link {
  color: #484847;
  text-decoration: underline;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.addressbook__right-block {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.addressbook__text {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.addressbook__right-wrapper {
  max-width: 368px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addressbook__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
}
.addressbook__input-wrapper {
  display: flex;
  gap: 34px;
}
.addressbook__input {
  font-family: "Candara";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #b3b3b2;
  height: 50px;
  width: 100%;
  padding: 0px 5px;
}
.addressbook::placeholder {
  font-family: "Candara";
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #b3b3b2;
}

/* wishlist */
.wishlist {
  display: none;
  max-height: 297px;
  padding-top: 38px;
}
.wishlist__list {
  display: flex;
  padding: 0 48px 0 0;
  overflow-y: auto;
  flex-direction: column;
  min-height: 297px;
}
.wishlist__list-item {
  padding: 9px 52px 9px 0;
  width: 100%;
  border-bottom: 1px solid #4b6049;
  display: flex;
  height: 98px;
}
.wishlist__img {
  width: 80px;
  height: 80px;
  display: block;
  margin-right: 18px;
}
.wishlist__item-info {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 20px;
  width: 161px;
}
.wishlist__rate {
  width: 100px;
}
.wishlist__amount {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}
.wishlist__title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  width: 240px;
  margin-right: 40px;
  color: #484847;
}
.wishlist__price {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  width: 120px;
  margin-right: 28px;
}
.wishlist__action {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.wishlist__remove-btn {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #484847;
  text-decoration: underline;
}

.history {
  display: none;
  margin-right: -88px;
}
.history__list {
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  margin-bottom: 59px;
}
.history__item {
  width: calc(50% - 42px);
}
.history__order-number {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 10px;
}
.history__order-info {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.history__order-date {
  width: max-content;
}
.history__order-status {
  width: max-content;
}
.history__order-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}
.history__order-amount {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-align: right;
}
.history__products-list {
  max-height: 305px;
  overflow-y: auto;
  padding-right: 20px;
  margin-bottom: 14px;
}
.history__product-item {
  height: 98px;
  padding: 9px 0;
  border-style: solid;
  border-color: #4b6049;
  border-width: 1px 0;
  margin-bottom: 5px;
  display: flex;
}
.history__product-image {
  width: 80px;
  height: 80px;
  display: block;
  margin-right: 9px;
}
.history__product-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
}
.history__product-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  width: 209px;
  margin-right: 10px;
}
.history__product-amount {
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}
.history__product-details {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}
.history__product-price {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}
.history__product-rate {
  width: 100px;
  position: relative;
  left: 20px;
}
.history__more-button {
  margin: 0 auto;
}
.history__more {
  margin-bottom: 64px;
}

.callback__container {
  background-image: url(../../assets/images/photos/contacts_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 608px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.callback__list-wrapper {
  background-color: rgba(75, 96, 73, 0.38);
  backdrop-filter: blur(7.5px);
  height: 390px;
  width: 582px;
  padding: 20px;
  margin: 109px 472px 109px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.callback__title {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.17;
  font-family: "Poiret One", normal;
  color: #fffbf5;
}
.callback__text {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.18;
  font-family: "Poiret One", normal;
  color: #fffbf5;
}

/* catalog page */
.catalog__content {
  display: flex;
}
.catalog__layout {
  padding-bottom: 110px;
}
.catalog__list-wrapper {
  display: flex;
  flex-direction: column;
}
.catalog__list-sort-link {
  color: #484847;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  border-bottom: 1px solid #484847;
  position: relative;
  margin-bottom: 23px;
}
.catalog__list-sort-link::after {
  content: "";
  background-image: url(../../assets/images/icon/expand.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 11px;
  height: 6px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -12px;
}
.catalog__content-wrapper {
  display: flex;
  gap: 8px;
}
.catalog__img {
  width: 100%;
  height: auto;
}
.catalog__list-item {
  transition: border, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog__list-item:hover, .catalog__list-item:focus {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.catalog__filter-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 47px;
  min-width: 226px;
}
.catalog__filtered-item {
  display: flex;
}
.catalog__filtered-item:first-child {
  padding: 17px 0 0 0;
}
.catalog__filtered-item:not(:last-child) {
  margin-bottom: 8px;
}
.catalog__filter-item-title {
  color: #484847;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.23;
  position: relative;
}
.catalog__checkbox {
  appearance: none;
  margin: 0;
}
.catalog__checkbox:checked + .catalog__custom-icon {
  position: relative;
}
.catalog__checkbox:checked + .catalog__custom-icon::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #4b6049;
  left: 4px;
  top: 4px;
}
.catalog__custom-icon {
  width: 20px;
  height: 20px;
  border: 1px solid #484847;
  display: inline-flex;
}
.catalog__filtered-label {
  display: flex;
}
.catalog__filtered-span {
  margin-left: 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}
.catalog__filter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.catalog__filter-input-item {
  max-width: 90px;
  height: 45px;
}
.catalog__filter-input-item::placeholder {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(72, 72, 71, 0.5);
  outline: none;
}
.catalog__filter-input-item::placeholder:active {
  color: rgba(72, 72, 71, 0.5);
}
.catalog__filter-input-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 7px 0 0 0;
}
.catalog__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  overflow: hidden;
  padding: 2px;
  margin-bottom: 43px;
}
.catalog__list-item {
  display: flex;
  flex-direction: column;
  gap: 13px;
  text-align: left;
  width: calc((100% - 60px) / 3);
  position: relative;
  padding: 13px 13px 9px 13px;
}
.catalog__link-fav {
  position: absolute;
  right: 11px;
  top: 11px;
  background-image: url(../../assets/images/icon/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.catalog__link-fav:hover {
  background-image: url(../../assets/images/icon/heart_hover_favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.catalog__link-fav:active {
  background-image: url(../../assets/images/icon/heart_active_favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.catalog__name-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #484847;
  min-height: 60px;
  display: block;
}
.catalog__span {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  text-align: end;
  color: #484847;
}
.catalog__link-container {
  display: flex;
  align-items: center;
  gap: 52px;
  justify-content: space-between;
}
.catalog__link-more {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  color: #484847;
}
.catalog__button-container {
  margin: 0 auto;
}
.catalog__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.23;
  color: #484847;
  margin-bottom: 43px;
}

/* viewed */
.viewed_layout {
  padding-bottom: 87px;
  overflow: visible;
}
.viewed__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 11px;
}
.viewed__list--recommended {
  gap: 70px;
  padding: 0 77px;
}
.viewed__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.23;
  color: #484847;
  margin-bottom: 43px;
}
.viewed__item {
  display: flex;
  flex-direction: column;
  gap: 13px;
  width: 260px;
  height: 400px;
  position: relative;
  padding: 13px 13px 9px 13px;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: border, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.viewed__item:hover, .viewed__item:focus {
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.viewed__item:hover .viewed__link-container, .viewed__item:focus .viewed__link-container {
  opacity: 1;
}
.viewed__item:hover .viewed__link-fav {
  position: absolute;
  right: 11px;
  top: 11px;
  background-image: url(../../assets/images/icon/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
}
.viewed__img {
  display: block;
  width: 100%;
}
.viewed__span {
  display: block;
  text-align: end;
  color: #484847;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.viewed__link-container {
  display: flex;
  align-items: center;
  gap: 52px;
  justify-content: space-between;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.viewed__link-more {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  display: flex;
  align-items: center;
  text-align: center;
  color: #484847;
}
.viewed__name-link {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  display: block;
  min-height: 60px;
  color: #484847;
}
.viewed__link-container {
  opacity: 0;
}
.viewed__link-fav {
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__container {
  background-image: url(../../assets/images/photos/contacts_background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 608px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.contacts__list-wrapper {
  background-color: rgba(75, 96, 73, 0.38);
  backdrop-filter: blur(7.5px);
  height: 390px;
  width: 582px;
  padding: 20px;
  margin: 109px 472px 109px 20px;
}
.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contacts__item {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  color: #fffbf5;
  position: relative;
}
.contacts__item:last-child::after {
  content: "";
  display: block;
  position: absolute;
  height: 1px;
  width: 490px;
  background-color: #fffbf5;
  bottom: -30px;
}
.contacts__item:first-of-type {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
}
.contacts__item:nth-child(4) {
  padding-top: 30px;
}
.contacts__item-tel {
  color: #fffbf5;
}
.contacts__form {
  margin-top: 60px;
  width: 276px;
  display: flex;
  gap: 39px;
}
.contacts__input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.contacts__form-input {
  border: 1px solid #fffbf5;
  font-family: "Candara";
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: #fffbf5;
  background: transparent;
  padding: 10px 15px;
  height: 50px;
}
.contacts__form-input:focus {
  outline: none;
  color: #b2b2b2;
}
.contacts__form-input::placeholder {
  color: #b2b2b2;
  height: 30px;
}
.contacts__form-input::placeholder:focus {
  color: #b2b2b2;
}
.contacts__form-btn {
  font-family: inherit;
  padding: 10px 32px;
  align-self: end;
  border-style: none;
}
.contacts__form-btn::after {
  content: "";
  border: 1px solid #fffbf5;
}
.contacts .callback__container {
  display: none;
}
.contacts.form-submitted .callback__container {
  display: flex;
}
.contacts.form-submitted .contacts__container {
  display: none;
}

.delivery__container {
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 70px 0;
}
.delivery__item {
  max-width: 950px;
  display: flex;
  flex-direction: column;
}
.delivery__title {
  background-color: #4b6049;
  width: 398px;
  height: 120px;
  display: flex;
  padding: 0 0 0 47px;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-self: flex-end;
}
.delivery__title--reversed {
  align-self: flex-start;
}
.delivery__title-text {
  color: #fffbf5;
  font-size: 26px;
  font-weight: 600;
  line-height: 1.23;
}
.delivery__details {
  display: flex;
  flex-direction: column;
  border: 1px solid #4b6049;
  overflow: hidden;
  padding: 29px;
  gap: 30px;
  max-height: 448px;
  overflow-y: auto;
}
.delivery__subtitle {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
  color: #fffbf5;
}
.delivery__text {
  color: #484847;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
}

.gratitude__section {
  height: 642px;
  background-image: url(../../assets/images/photos/contacts_background.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}
.gratitude__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  min-height: 140px;
  width: 749px;
  padding: 60px;
  background-color: rgba(75, 96, 73, 0.38);
  backdrop-filter: blur(7.5px);
}
.gratitude__title {
  font-size: 60px;
  font-weight: 400;
  line-height: 1.17;
  color: #fffbf5;
  font-family: "Poiret One", normal;
}
.gratitude__text {
  color: #fffbf5;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.23;
}

/* product */
.product {
  display: flex;
  flex-direction: column;
}
.product__details {
  margin-bottom: 50px;
}
.product__arrow-back {
  display: flex;
  justify-content: left;
  width: 100%;
  margin-bottom: 18px;
}
.product__tabs {
  margin-bottom: 35px;
}
.product__extended-info.product__extended-info {
  margin-bottom: 68px;
  display: none;
}
.product__extended-info.product__extended-info--active {
  display: flex;
}

.product-info {
  display: flex;
  gap: 62px;
}
.product-info__img {
  width: 460px;
  height: 410px;
  display: block;
}
.product-info__container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-info__title {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
}
.product-info__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 34px;
}
.product-info__rate {
  background-image: url(../../assets/images/icon/rate.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 20px;
}
.product-info__price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 17px;
}
.product-info__order-container {
  display: flex;
  justify-content: space-between;
}
.product-info__input {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.5;
  color: #484847;
  border: 1px solid #484847;
  width: 86px;
  height: 49px;
  padding: 5px 17px;
}
.product-info__price-amount {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
}
.product-info__cart-btn {
  padding: 10px 62px;
  position: relative;
}
.product-info__price-fav {
  background-image: url(../../assets/images/icon/heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 36px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.product-info__price-fav:hover {
  background-image: url(../../assets/images/icon/heart_hover_favorite.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.description-tabs {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 85px;
}
.description-tabs__item--active {
  border-bottom: 1px solid #484847;
}
.description-tabs__btn {
  color: #4b6049;
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
}

.ingredients__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}

.feedbacks {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.feedbacks__all {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.feedbacks__all-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  width: 1000px;
  min-height: 72px;
  border-bottom: 1px solid #484847;
}
.feedbacks__name {
  display: flex;
  flex-direction: column;
  width: 106px;
  height: 62px;
  padding: 0 10px 0 0;
}
.feedbacks__name-title {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
}
.feedbacks__name-date, .feedbacks__rate {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.2;
  max-width: 444px;
}
.feedbacks__stars-five {
  background-image: url(../../assets/images/icon/rate5.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 20px;
  align-self: center;
}
.feedbacks__stars-four {
  background-image: url(../../assets/images/icon/rate.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 20px;
  align-self: center;
}
.feedbacks__stars {
  margin-right: 27px;
}

.viewed__wrapper {
  padding: 0 0 51px 0;
}

.button-more--bottom {
  margin: 0 auto;
}

.order__container {
  padding: 54px 0 20px 0;
  width: 100%;
}
.order__title {
  font-size: 40px;
  font-weight: 600;
  line-height: 1.23;
  color: #484847;
  text-align: center;
}
.order__tab-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.order__step {
  display: flex;
}
.order__link {
  font-size: 26px;
  font-weight: 400;
  line-height: 1.23;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000000;
  display: flex;
}
.order__step-container {
  display: none;
  margin-bottom: 50px;
}
.order__step-container--active {
  display: flex;
}
.order__products {
  margin-bottom: 50px;
}
.order__submit-button {
  margin-left: auto;
  margin-bottom: 50px;
}

.order-list__list {
  padding-right: 32px;
  max-height: 293px;
  overflow-y: auto;
  margin-bottom: 5px;
}
.order-list__total {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  text-align: right;
  padding-right: 52px;
}

.personal-data {
  flex-direction: column;
  width: 368px;
}

.delivery-details {
  justify-content: space-between;
}
.delivery-details__column--narrow {
  width: 266px;
}
.delivery-details__column-title {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5;
}
.delivery-details__method {
  margin-bottom: 40px;
}

.header__nav-link--white {
  color: #fffbf5;
}
.header__nav--white {
  border-bottom: 1px solid #fffbf5;
}
.header__icons-item--white:nth-child(1) {
  background-image: url(../../assets/images/icon/white_cabinet.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__icons-item--white:nth-child(2) {
  background-image: url(../../assets/images/icon/white_heart.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.header__icons-item--white:nth-child(3) {
  background-image: url(../../assets/images/icon/white_basket.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.mistake {
  background-image: url(../../assets/images/photos/404.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.error-main {
  display: flex;
  min-height: 1142px;
  justify-content: flex-end;
  align-items: flex-end;
}

/*# sourceMappingURL=main.css.map */
