html,
body {
  height: 100%;
}
ul {
  list-style-type: none;
}
.item {
  height: 200px;
  border: 1px solid #000;
}

.dots {
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.dotBtn {
  padding: 0;
  margin: 0;
  height: 15px;
  width: 15px;
  border-radius: 7px;
  border: 1px solid #000;
  background: #b3b3b3;
}

.number {
  font-size: 48px;
  text-align: center;
}

.error-message-list li {
  color: #fff;
}

.error-message-list {
  border: 1px solid #000;

  width: 300px;
  height: 0;
  transition: all 2s;
}

.has-messages {
  width: 500px;
  height: 75px;
  background: red;
}

.circle {
  border: 1px solid #000;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  position: fixed;
  animation: fadeAnimation 0.7s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  display: block;
}
img {
  width: 50px;
  height: 50px;
}
@keyframes fadeAnimation {
  0% {
    opacity: 0;
    display: none;
  }

  1% {
    opacity: 0;
    display: block;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.modal-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-mask.hidden {
  display: none;
}

.modal-content {
  width: 500px;
  height: fit-content;
  background-color: #fff;
}

.modal-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding: 4px;
}

form#userData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

table#categoriesList {
  margin: 20px;
}

form#editCategory {
  margin: 25px;
}

#closeModalBtn {
  width: 35px;
  font-size: 35px;
  --bs-btn-padding-y: 0;
  --bs-btn-padding-x: 0;
  text-decoration: none;
}
.tab-container {
  display: flex;
}
.tab-container button,
.tab-container a {
  background-color: #f0f0f0;
  border: none;
  color: #333;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  text-decoration: none;
}

.tab-container button span,
.tab-container a span {
  display: inline-block;
}

.tab-container button.active,
.tab-container a.active {
  background-color: #ccc;
  color: #fff;
}

.tab-content-container#tab2 {
  display: none;
  padding: 20px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-top: none;
}

.tab2,
.tab1 {
  display: none;
}
.active {
  display: block;
  background-color: white;
}

#tab2-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 800px;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
#tab2-wrapper img {
  width: 200px;
  height: 200px;
}

.img-title {
  margin-top: 20px;
  text-align: center;
}
