.title {
  color: #909090;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 23px;
  font-weight: 700;
  margin: 0 0 0;
  padding: 20px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}

.title-on {
  color: #80a6ff;
}
.button {
  margin: 30px auto;
  width: 80px;
  height: 40px;
  border-radius: 19px;
  background: #e0e0e0;
  z-index: 0;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}
.button::after {
  content: "";
  height: 35px;
  width: 37px;
  border-radius: 17px;
  background-color: #adadad;
  top: 3px;
  left: 3px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
  position: absolute;
  z-index: 1;
}
.switch-on {
  background-color: #80a6ff;
}
.switch-on::after {
  left: 39px;
  background-color: #ffff89;
}
