.button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  height: 44px;
  width: 70px;
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-31:hover,
.button-31:focus {
  opacity: 0.75;
}
.btn-wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.root {
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 36px;
  display: flex;
  justify-content: center;
  background-position: center;
  background-size: cover;
}
