* {
  margin: 0;
  padding: 0;
}
header {
  height: 200px;
  background-image: linear-gradient(
    to bottom,
    #157cc7,
    #157cc7 50%,
    #ff0 50%,
    #ff0
  );
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  position: relative;
}

h1 {
  color: white;
}
h2 {
  font-size: 30px;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  flex-wrap: wrap;
}
.img-wrapper li {
  flex-basis: 450px;
}
img {
  width: 600px;
}
