* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.hidden {
  display: none;
}

.loading {
  position: relative;
  background-color: #fff;
}

.loading::before {
  z-index: 1;
  background-color: white;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  display: block;
}

.loading::after {
  z-index: 2;
  position: absolute;
  content: url("../assests/loader.svg");
  display: block;
  left: calc(50% - 50px);
  top: 50px;
  width: 50px;
  height: 50px;
}

.container {
  min-height: 300px;
}

textarea {
  width: 40%;
}

.nav-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #ffd700;
}

.nav-link.active {
  color: #0057b7;
}

.nav-link {
  color: #ffd700;
  font-size: 48px;
  font-family: "Signika", sans-serif;
  padding-bottom: 10px;
}
.list span {
  color: #222;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}
.list li {
  margin-bottom: 20px;
}
.add-news-form .btn {
  margin-top: 20px;
}

.btn-view {
  margin-left: 10px;
}
