#slider {
  position: relative;
  overflow: hidden;
  height: 300px;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  transition: all 5s ease;
  color: red;
  font-size: 16px;
}
.slide img {
  width: 600px;
  height: 300px;
  display: block;
  margin: 0 auto;
}
.active {
  display: block;
}

#prevBtn,
#nextBtn {
  position: absolute;
  top: 170px;
  transform: translateY(-50%);
  font-size: 20px;
  padding: 10px;
  width: 35px;
  cursor: pointer;
}

#prevBtn {
  left: 33.5%;
}

#nextBtn {
  right: 33.5%;
}

.pagination {
  display: flex;
  justify-content: center;
}
