*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  background: radial-gradient(
    circle,
    rgba(148, 187, 233, 1) 0%,
    rgba(255, 255, 255, 1) 35%
  );
  background: radial-gradient(
    circle at 100%,
    rgba(148, 187, 233, 1),
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 75%
  );
}

.form-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.form-row input::placeholder {
  color: #a9a9a9;
}
.title {
  padding-top: 20px;
  margin: 0 auto 30px;
  text-align: center;
}
.btn-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.btn {
  width: 150px;
}

.col-md-4 label {
  margin-right: 20px;
  align-self: center;
}

.form-row {
  height: 160px;
}
.form-row input {
  width: 300px;
}
.active {
  display: inline-block;
}

.hidden {
  display: none;
}

.width-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center;
}

.progressbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 0 auto;
  width: 500px;
  align-items: center;
}

.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: -1;
}

.progress {
  background-color: #0d6efd;
  width: 0%;
  transition: all linear 300ms;
}

.progress-step {
  width: 30px;
  height: 30px;
  background-color: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 500ms;
}

.progress-step::before {
  counter-increment: step;
  content: counter(step);
}

.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: calc(100% + 10px);
  font-size: 16px;
  color: #666;
}

.progress-step-active {
  background-color: #0d6efd;
  color: #f3f3f3;
}

.form-step-active {
  display: block;
}
.btn {
  transition: box-shadow cubic-bezier(0.075, 0.82, 0.165, 1) 500ms;
}
.btn:hover {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #00008b;
}

@media (min-width: 768px) {
  .col-md-4 input {
    margin: 0 auto;
  }
  .form-row .col-md-4 label {
    padding-left: 25%;
  }
}

.progress-line[data-step="2"] {
  width: 180px;
}

.progress-line[data-step="3"] {
  width: 340px;
}

.progress-line[data-step="4"] {
  width: 500px;
}
