* {
  box-sizing: border-box;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol";
}

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
input {
  width: 300px;
  height: 50px;
}
button {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  margin: 0;
  max-width: 150px;
  outline: none;
  padding: 16px 14px;
  text-align: center;
  transition: all 250ms cubic-bezier(0.23, 1, 0.32, 1);
  width: 100%;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
