.title {
  padding-left: 20px;
  padding-top: 20px;
}

.needs-validation {
  padding-left: 20px;
  padding-top: 20px;
}
.form-control {
  width: 300px;
}
.add-skill-wrapper {
  display: flex;
  flex-direction: row;
}

.add-skill-wrapper .btn-primary {
  margin-left: 30px;
  align-self: center;
}

.add-field {
  margin-bottom: 10px;
}
